
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar{
    background-color: #286090;
    border-color: #E7E7E7;
}

.navbar-brand{
    color:#fff !important;
    font-size:24px;
    font-weight: bold;
    font-family:Verdana;
}

#login-dp{
    min-width: 250px;
    padding: 12px 10px 0;
    overflow:hidden;

}
#login-dp .help-block{
    font-size:12px    
}


#login-dp .form-group {
    margin-bottom: 8px;
}

.nav li a{
    color:#fff !important;
    font-size:21px;
    font-weight: bold;
}

#right-nav{
    float:right;
}

.help-block span{
    color:#337ab7;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color:#286090;
}

#next a{
    color:#286090;
    font-size: 20px;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 14px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 27px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

html, body {
    height: 100%;
    overflow-x: hidden;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}
.footer, .push {
    height: 4em;
}


#bottom{
    margin-top:200px;
}

.save{
    font-size:22px;
    font-weight:bold;
}

.green{
    border-color:green;
}

.green:focus{
    border-color:green;
}


.red:focus{
    border-color:red;
}

.small-text a{
    font-size:14px !important;

}

#tab-container{
    margin-top:140px;
}

.nav-tabs{
    background-color:#f5f5f5;
}
.nav-tabs > li > a{
    border: medium none;
    color:#286090 !important;
}
.nav-tabs > li > a:hover{
    background-color: #dbdbdb !important;
    border: medium none;
    border-radius: 0;
    color:#286090;
}

#about-info ul {
    list-style-type: none;
    margin-top:20px;
}

#about-info ul li{
    margin-bottom: 20px;

}

#about-info ul li a{
    color:black;
    font-weight:bold;
    text-decoration: none;
    font-size:19px;
}

#about-info ul li a:hover{
    color:#286090;
}

#about-info ul li a.active{
    color:#286090;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{

    cursor: pointer;
}

#avatar-button{
    color:grey;
    border:1px solid darkgray;

}

#avatar-button span{
    color:white;   
}

.table-responsive{
    margin-top:17px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


ul li{
    list-style-type: none;
}


.from{
    font-size:14px;
    font-weight:bold;
}

.test{
    position:relative;
    bottom:50px;
    left:10px;
    color:#286090;
    font-size:17px;
    font-weight:bold;
}

.test:hover{
    text-decoration: underline;
    color:black;
    cursor: pointer;
}

.bootom-list{
    position:relative;
    top:50px;
    right:40px;
    color:#286050;
    font-size:17px;
    font-weight:bold;

}

.bootom-list:hover{
    text-decoration: underline;
    color:black;
    cursor: pointer;
}

.carousel-control.left {
    margin-left: -45px;
    margin-top:170px;
    color: black;
    font-size: 25px;
}
.carousel-control.right {
    margin-right: -45px;
    margin-top:180px;
    font-size: 25px;
}

.carousel-control.left, .carousel-control.right {
    background: none;
    border: none;
}

.carouser-content{
    font-size: 40px;
    color: black;
}